@import "tailwindcss";

@theme {
  --font-sans: "Hind Siliguri", sans-serif;
  --font-serif: "Noto Serif Bengali", serif;

  --color-brand-red: #D32F2F;
  --color-brand-black: #1a1a1a;
  --color-brand-gray: #f4f4f4;
  --color-brand-dark: #212121;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 40s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
